
body{
  background-color: #F8F8FF;
  font-family:Rubik Wet Paint
 ;
}


h1{
background-color:#FF1493;
text-align:center;
color:#00008B;
font-size:50px;
font-style:italic;
}
h2{
font-weight:bold;
img {
  display: block;
  margin: 0 auto;
}
